/* ==========================================================================
   Author's custom styles
   ========================================================================== */

::-webkit-scrollbar-button {
    width: 3px;
    height: 0
}

::-webkit-scrollbar-track {
    background-color: #32312e;
    box-shadow: 0 0 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #f964a7;
    box-shadow: 0 1px 1px #fff inset;
}

::-webkit-resizer {
    width: 3px;
    height: 0
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--color_blue);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

a:hover {
    color: #f964a7;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: bold;
    margin: 0;
}

.obj {
    position: absolute;
    z-index: 1;
}

.img_box img, .obj img {
    width: 100%;
}

.m-0 {
    margin: 0;
}

.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.notoSerif {
    font-family: 'Noto Serif', serif;
}

:root {
    --color_beige: #c69b59;
    --color_gray: #535353;
    --color_black: #000000;
    --color_white: #ffffff;
    --color_blue: #4876b3;
    --color_gray2: #4a4a4a;
    --color_gray3: #acacac;
}

main {
    overflow: hidden;
    padding: 20px 40px;
    background: #e3cca7;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
    background: var(--color_white);
}

.menuBox {
    justify-content: center;
    align-items: center;
}

.menuBox-item {
    font-size: 14px;
    font-weight: 700;
    color: var(--color_black);
    margin: 0 15px;
}

.menuBox-item i {
    font-size: 16px;
    margin: 0 5px;
}

.contentBox {
    background: #f7f7f7;
}

.logoBox {
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 0;
    border-bottom: 1px solid var(--color_beige);
}

.logo {
    width: 100%;
    max-width: 430px;
    cursor: pointer;
}

.socials, .navigation {
    justify-content: center;
    align-items: center;
    min-width: 135px;
    margin-top: 35px;
}

.socials-item, .navigation-item {
    font-size: 30px;
    padding: 0 10px;
}

.navigation-item:first-child {
    border-right: 1px solid var(--color_beige);
}

.icon {
    cursor: pointer;
}

.titleBox {
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    color: var(--color_black);
    padding: 20px 0 30px;
    margin-bottom: 10px;
}

.titleBox span {
    display: block;
}

.contentBg {
    padding: 15px 15px;
    margin-bottom: 15px;
    background: var(--color_white);
}

.contentBox-header {
    justify-content: space-between;
    align-items: center;
}

.contentBox-header > hr {
    width: 100%;
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid var(--color_beige);
    margin: 15px 0 0;
}

.postLabel {
    position: relative;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color_white);
    padding: 10px 20px;
    background: #f50973;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    border-radius: 1px;
}

.postLabel:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #f50973;
    border-bottom: 10px solid transparent;
}

.postElements {
    align-items: center;
}

.postElements-item {
    font-size: 14px;
    color: var(--color_gray3);
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 10px;
}

.postElements-item i {
    font-size: 16px;
    margin: 0 3px;
}

.contentBox-title {
    font-size: 35px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--color_beige);
    margin: 20px 0 30px;
}

.notice {
    position: relative;
    font-size: 18px;
    line-height: 1.3;
    color: var(--color_gray);
    border-left: 4px solid var(--color_black);
    padding-left: 70px;
}

.notice:before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    width: 38px;
    height: 30px;
    background: url("../img/notice.png") no-repeat center;
    background-size: contain;
}

hr.dotted {
    width: 90%;
    margin: 20px auto 15px;
    border: 0.5px dashed var(--color_gray3);
}

.authorBox {
    flex-wrap: nowrap;
    align-items: center;
}

.authorIcon {
    width: 130px;
    margin-right: 35px;
    border: 5px solid #e4cca7;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
}

.authorIcon img {
    display: block;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
}

.authorInfo-item {
    font-size: 18px;
    color: var(--color_black);
    margin-bottom: 5px;
}

.authorInfo-item span {
    color: var(--color_beige);
}

.resultBox {
    flex-wrap: nowrap;
    margin: 20px 0 25px;
    overflow: hidden;
}

.resultBox-item {
    position: relative;
    z-index: 9;
    font-size: 18px;
    color: var(--color_white);
    padding: 15px 10px 15px 15px;
    background: #dbc096;
}

.resultBox-item b {
    font-weight: 700;
}

.resultBox-item:last-of-type {
    z-index: 7;
    padding: 15px 15px 15px 45px;
    background: #f964a7;
}

.resultBox-arrow {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -23px;
    width: 76px;
    height: 100%;
    border-top: 5px solid var(--color_white);
    border-right: 5px solid var(--color_white);
    background: #dbc096;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.authorPost {
    border: 1px solid var(--color_gray3);
    margin: 0 0 30px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    border-radius: 1px;
}

.authorPost-header {
    align-items: center;
    padding: 8px 12px;
}

.authorPost-icon {
    width: 35px;
    margin-right: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
}

.authorPost-icon img {
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
}

.authorPost-name {
    font-size: 13px;
    font-weight: bold;
    color: var(--color_black);
}

.authorPost-image {
    justify-content: center;
}

.authorPost-imageItem {
    position: relative;
    max-width: 50%;
}

.imageItem-text {
    position: absolute;
    bottom: 3px;
    right: 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    padding: 13px 12px;
    color: var(--color_white);
    background: var(--color_beige);
}

.authorPost-imageItem:last-of-type:before {
    content: "";
    position: absolute;
    z-index: 10;
    left: -2px;
    top: 0;
    width: 4px;
    height: 100%;
    background: var(--color_white);
}

.authorPost-imageItem:last-of-type .imageItem-text {
    right: inherit;
    left: 0;
}

.authorPost-info {
    padding: 8px 12px;
}

.postIcons {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.postIcons > div {
    align-items: center;
}

.postIcons-item {
    cursor: pointer;
    margin: 0 7px;
}

.authorPost-text {
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    color: var(--color_black);
    padding-left: 7px;
}

.authorPost-text i {
    vertical-align: middle;
}

.authorPost-text a {
    margin: 0 5px;
}

.authorPost-date {
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
}

.authorPost-date span {
    font-size: 13px;
    color: var(--color_gray3);
}

.authorPost-date i {
    font-size: 22px;
    color: var(--color_black);
}

.contentBox-text {
    position: relative;
    font-size: 18px;
    line-height: 1.3;
    color: var(--color_gray);
    margin-bottom: 30px;
    padding-left: 35px;
}

.contentBox-text span {
    font-weight: 700;
    color: var(--color_black);
}

.contentBox-subtitle {
    font-size: 30px;
    font-weight: 700;
    color: var(--color_beige);
    margin-bottom: 25px;
}

.contentBox-elem {
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 25px;
}

.contentBox-text.noticeText {
    width: 48%;
    padding-left: 60px;
    margin: 0 2%;
}

.contentBox-text.noticeText:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 38px;
    height: 30px;
    background: url("../img/notice.png") no-repeat center;
    background-size: contain;
}

.contentBox-text.noticeText:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 125px;
    background: var(--color_black);
}

.contentBox-text.productBox {
    width: 50%;
}

.buttonBox {
    margin: 45px 0 50px;
}

.customButton {
    position: relative;
    display: inline-flex;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--color_white);
    border: 2px solid var(--color_white);
    padding: 25px 50px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 7px 24px -4px rgba(107, 107, 107, 1);
    -moz-box-shadow: 0px 7px 24px -4px rgba(107, 107, 107, 1);
    box-shadow: 0px 7px 24px -4px rgba(107, 107, 107, 1);
    background: rgb(249, 100, 167);
    background: -moz-linear-gradient(top, rgba(249, 100, 167, 1) 3%, rgba(246, 10, 132, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(249, 100, 167, 1) 3%, rgba(246, 10, 132, 1) 100%);
    background: linear-gradient(to bottom, rgba(249, 100, 167, 1) 3%, rgba(246, 10, 132, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f964a7', endColorstr='#f60a84', GradientType=0);
}

.customButton:hover {
    color: var(--color_beige);
    padding: 25px 55px;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.asideItem {
    display: block;
    margin: 15px 0 10px;
}

a.asideItem {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

a.asideItem:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

a.asideItem:hover .asideItem-text {
    color: #f964a7;
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.asideItem-text {
    position: relative;
    display: block;
    width: 90%;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: var(--color_black);
    margin: -50px auto 0;
    padding: 8px 12px;
    background: var(--color_white);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 8px 38px -11px rgba(82, 82, 82, 1);
    -moz-box-shadow: 0px 8px 38px -11px rgba(82, 82, 82, 1);
    box-shadow: 0px 8px 38px -11px rgba(82, 82, 82, 1);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.asideItem-text span {
    display: block;
    color: var(--color_gray3);
    margin-top: 10px;
}

.popularTags {
    align-items: center;
    margin-top: 15px;
}

.popularTags-item {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 12px;
    margin: 0 3px 3px 0;
    color: var(--color_black);
    cursor: pointer;
    background: #f7f7f7;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.popularTags-item:hover {
    color: var(--color_white);
    background: #f50973;
}

.commentTitle {
    font-size: 30px;
    font-weight: 700;
    color: var(--color_beige);
    margin: 40px 0 25px;
}

.commentItem {
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 18px 22px;
    margin-bottom: 20px;
    background: var(--color_white);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 8px 38px -11px rgba(82, 82, 82, 1);
    -moz-box-shadow: 0px 8px 38px -11px rgba(82, 82, 82, 1);
    box-shadow: 0px 8px 38px -11px rgba(82, 82, 82, 1);
}

.commentItem-image {
    min-width: 95px;
    max-width: 95px;
    margin-right: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
}

.commentItem-image img {
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
}

.reviewTitle {
    font-size: 16px;
    font-weight: 700;
    color: var(--color_gray);
    margin-bottom: 5px;
}

.reviewDate {
    font-size: 13px;
    color: var(--color_gray3);
    margin-bottom: 15px;
}

.reviewItem-text {
    font-size: 16px;
    line-height: 1.3;
    color: var(--color_black);
    margin-bottom: 20px;
}

.reply {
    justify-content: flex-end;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color_gray3);
}

.reply i {
    vertical-align: middle;
    font-size: 16px;
    cursor: default;
}

.reviewItem-img {
    width: 70%;
}

.copyrightBox {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 1361px) {

    .container {
        width: 70%;
        max-width: 1000px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1360px) {

    .container {
        width: 90%;
    }

}

@media screen and (max-width: 992px) {

    main {
        padding: 15px 25px;
    }

    header {
        display: none;
    }

    .logo {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    .socials, .navigation {
        min-width: inherit;
    }

    .titleBox {
        font-size: 38px;
    }

    .contentBox-title {
        font-size: 26px;
    }

    .authorIcon {
        margin-right: 10px;
    }

    .authorInfo-item {
        font-size: 16px;
    }

    .resultBox-item {
        font-size: 16px;
    }

    .contentBox-text {
        font-size: 16px;
    }

    .contentBox-subtitle {
        font-size: 24px;
    }

}

@media screen and (max-width: 639px) {

    main {
        padding: 10px 5px;
    }

    .socials, .navigation {
        display: none;
    }

    .titleBox {
        font-size: 30px;
        padding: 20px 0 10px;
    }

    .contentBox-header {
        justify-content: center;
    }

    .postElements {
        margin-top: 10px;
    }

    .resultBox {
        flex-wrap: wrap;
    }

    .authorBox {
        align-items: flex-start;
    }

    .resultBox-item {
        padding: 15px 15px 30px 15px;
    }

    .resultBox-item:last-of-type {
        padding: 35px 15px 15px 15px;
    }

    .resultBox-arrow {
        top: inherit;
        bottom: -6px;
        right: 49%;
        width: 40px;
        height: 40px;
        -moz-transform: rotate(135deg) translateY(-20px);
        -webkit-transform: rotate(135deg) translateY(-20px);
        -o-transform: rotate(135deg) translateY(-20px);
        -ms-transform: rotate(135deg) translateY(-20px);
        transform: rotate(135deg) translateY(-20px);
    }

    .contentBox-text {
        padding: 0;
    }

    .contentBox-elem {
        flex-wrap: wrap;
    }

    .contentBox-text.noticeText {
        width: 100%;
        margin: 20px 0 0;
    }

    .contentBox-text.productBox {
        width: 100%;
    }

    .buttonBox {
        margin: 45px 0 30px;
    }

    .customButton {
        font-size: 18px;
        padding: 25px 35px;
    }

    .commentItem {
        padding: 18px 14px;
    }

    .commentItem-image {
        min-width: 65px;
        max-width: 65px;
    }

}

@media screen and (max-width: 379px) {

    .authorBox {
        flex-wrap: wrap;
    }

    .authorIcon {
        margin: 0 auto 15px;
    }

    .customButton {
        font-size: 16px;
        padding: 20px 20px;
    }

}